@page "/"
@inherits EmployeeListBase

<h3>Sản Phẩm</h3>
<h1>Các sản phẩm đã chọn: @SelectedEmployeesCount </h1> 

<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged">
            </DisplayEmployee>
        }
    </div>
}
