<header>
    <a href="#"><img src="images/logo.png" alt="" /></a>

    <nav>
        <div class="menu">
            <ul>
                <li><a href="#">Tất cả</a></li>
                <li><a href="#">Ưu đãi hôm nay</a></li>
                <li><a href="#">Dịch vụ khách hàng</a></li>
                <li><a href="#">Cơ quan đăng kí</a></li>
                <li><a href="#">Thẻ quà tặng</a></li>
                <li><a href="#">Bán</a></li>
            </ul>
        </div>
        @*nut search*@
        <div class="search">
            <input type="search" placeholder="Search..." />
            <button>Tìm kiếm</button>
        </div>
    </nav>
</header>
@*sider*@
<div class="slider">
    <div class="slides">
        <div class="slider-1"><img src="images/slide.jpg"></div>
        <div class="slider-2"><img src="images/slide4.jpg"></div>
        <div class="slider-3"><img src="images/slide2.jpg"></div>
        <div class="slider-4"><img src="images/slide3.jpg"></div>
    </div>
</div>

@*<footer>
        <div>©2021 Trần Minh Hậu</div>
    </footer>*@
